<h1>new videos</h1>

<%= form_for(@video, url: videos_path, method: :post ) do |form| %>
                
	<p>
	    <%= form.label :title %><br>
	    <%= form.text_field :title %>
	</p>

	<p>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </p>
         

	<p>
	    <%= form.label :link %><br>
	    <%= form.text_area :link %>
	</p>


	<select name="[video][standard]">
		<option >Select Class</option>
		<option value="1">class 1</option>
		<option value="2">class 2</option>
		<option value="3">class 3</option>
		<option value="4">class 4</option>
		<option value="5">class 5</option>
		<option value="6">class 6</option>
		<option value="7">class 7</option>
		<option value="8">class 8</option>
		<option value="9">class 9</option>
		<option value="10">class 10</option>
		<option value="11">class 11</option>
		<option value="12">class 12</option>
	</select>




	           

	

	<p>
	    <%= form.submit %>
	</p>

<% end %>




